<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Converter.Launcher.Lib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Converter.Launcher.Lib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Converter.Launcher.Lib.Properties.Settings>
            <setting name="CheckForUpdatesOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdaterDownloadFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="InstallFolder" serializeAs="String">
                <value />
            </setting>
        </Converter.Launcher.Lib.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Converter.Launcher.Lib.Properties.Settings>
            <setting name="EnableLogging" serializeAs="String">
                <value>True</value>
            </setting>
        </Converter.Launcher.Lib.Properties.Settings>
    </applicationSettings>
</configuration>